@import "../../../scss/_global_variables.scss";
@import "../../../scss/mixins.scss";

.social {
    position: fixed;
    bottom: 50px;
    left: 4rem;
    
    &::after {
        content: "";
        display: block;
        width: 2px;
        height: 90px;
        background-color: var(--lightest-slate);
        margin: 0px auto;
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    &__item {
        font-size: var(--tlarge2);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease-in-out;
        &:hover {
            transform: translateY(-4px);
        }
        &:last-child {
            margin-bottom: 2rem;
        }
    }
    &__link {
        padding: 10px;
        color: var(--lightest-slate);
        transition: 0.3s ease-in-out;
        outline: 2px dashed transparent;
        
        &:hover {
            color: var(--theme-color);
        }
        &:focus {
            outline-color: var(--theme-color);
            transform: translateY(-4px);
            color: var(--theme-color);
        }
    }
}

@include mobile {
    .social {
        display: none;
    }
}