@import "../../../scss/mixins.scss";
@import "../../../scss/_global_variables.scss";

.navigation {
    height: 80px;
    width: 100vw;
    left: 0;
    padding-left: 48px;
    position: fixed;
    top: 17px;
    transition: all 0.3s ease-in-out;
    

    &__wrapper {
        display: none;
        padding: 0 4rem;
        max-width: 100%;
        width: 100%;
        height: inherit;
        display: flex;
        padding: 0 15px;
        justify-content: flex-start;
        align-items: center;
        transition: 0.3s ease-in-out;
        position: relative;
        z-index: 20;
    }
    &__brand {
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3rem;
            margin: 2rem 0;
            width: 3rem;
            fill: none;
            color: var(--theme-color);
            transition: 0.3s ease-in-out;
            outline: 2px dashed transparent;
            cursor: pointer;
            &:hover {
                fill: #64dad91a;
            }
            &:focus {
                outline-color: var(--theme-color);
                fill: #64dad91a;
            }
        }
    }
    &__menu {
        display: flex;
        height: inherit;
        align-items: center;
        gap: 3rem;
        color: var(--lightest-slate);
        font-size: var(--tsm1);
        counter-reset: nav-list;
        font-family: var(--fira-code);

    }
    &__list {
        display: flex;
        list-style-type: none;

        @include adaptiv-value("gap", 60, -60, 1);
    }
    &__item {
        
        a {
            outline: 2px dashed transparent;
            transition: 0.3s ease-in-out;
            color: inherit;
            text-decoration: none;
            padding: 10px;
            &:first-child {
                padding-left: 0;
                margin-left: -5px;
            }
            &::before {
                counter-increment: nav-list;
                content: "0" counter(nav-list) ". ";
                color: var(--theme-color);
            }
            &:focus {
                outline-color: var(--theme-color);
            }
            &:hover {
                color: var(--theme-color);
            }
        }
    }

    &__afterScroll {
        height: 100px;
        left: 0;
        position: fixed;
        top: 0;
        transition: all 0.3s ease-in-out;
        z-index: 20;
        background-color: rgba(10, 25, 47, 0.6);
        box-shadow: 0 10px 30px -10px var(--navy-shadow);
        backdrop-filter: blur(10px);
    }
}

@include medium {
    .navigation {
        &__button {
            display: none;
        }
    }
}

@include mobile {
    .navigation {
        &__wrapper {
            
        }
        padding-left: 100px;
        &__brand {
            display: none;
        }
        &__button {
            display: none;
        }

        &__menu {
            display: grid;
            gap: 15px;
            position: fixed;
            top: 16px;
           
            z-index: 100;
        }
        &__list {
            display: grid;
            flex: 1 1 auto;
            width: 100%;
            gap: 5px;
            padding-top: 12px;
            padding-left: 30px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 40px);
            z-index: 100;

            &__item {
                padding-bottom: 15px;
            }
        }
    }
}

@include fix-mobile {
    .navigation {
        padding-left: 0;
        &__button {
            margin-left: -10px;
        }
        &__brand {
            display: none;
        }
        &__list {
            
        }
    }
}

