@import "../../../scss/_global_variables.scss";
@import "../../../scss/mixins.scss";

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    justify-content: center;
    max-width: $maxWidthContainer +px;
    min-height: 60vh;
    padding: 0 150px;
    margin-top: 4rem;

    &__title {
        color: var(--theme-color);
        font-size: var(--txlarge);
        font-family: var(--fira-code);
        font-weight: 600;
    }
    &__name {
        font-size: var(--tgiant);
        font-family: var(--raleway);
        color: var(--lightest-slate);
        margin-left: -4px;
    }
    &__subtitle {
        color: var(--lightest-slate);
        font-family: var(--raleway);
    }
    &__text{
        position: relative;
        color: var(--slate);
        margin-right: 40%;
        padding-bottom: 20px;
        font-size: var(--tlarge);
        letter-spacing: 0.07rem;
        line-height: 1.6rem;
        font-weight: 600;
        font-family: var(--raleway);
    }
    &__recomendation {
        padding-top: 50px;

        &__text {
            color: var(--slate);
            font-size: var(--tlarge);
            letter-spacing: 0.07rem;
            line-height: 1.6rem;
            font-weight: 600;
            font-family: var(--raleway);
        }
        img {
            max-width: 60px;
            object-fit: cover;
            padding: 3px;
            margin-right: 20px;
            min-width: 60px;
            min-height: 60px;
            max-height: 60px;
            border-radius: 50%;
            border: 5px var(--lightest-slate) solid;

            :not(:first-child) {
                padding-left: 50px;
                
               
            }
        }
    }
}

@include mobile {
    .hero {
        padding: 0 15px;
    }
}