@import "../../../scss/mixins.scss";
@import "../../../scss/_global_variables.scss";

.theme__button {
    position: fixed;
    top: 90px;
    left: 67.5px;
    width: 40px;
    height: 40px;
    background-color: var(--lightest-slate);
    border: 2px solid var(--lightest-slate);
    border-radius: 50%;
}

.theme__icon {
    position: absolute;
    transform: translate(-50%, -50%);

    path {
        fill: green; // Цвет для светлой темы
    }
}

@media (max-width: 1024px) {
    .theme__button {
        top: 35px;
        left: 130px;
    }
}

@include mobile {
    .theme__button {
        left: 15px;
    }
}
