.app_dark_theme {
    --background-color: white;
    --lightest-navy: #3977e0;
    --light-navy: #2c67cc;
    --dark-slate: #12203d;
    --slate: #8892b0;
    --light-slate: #ccd6f6;
    --lightest-slate: #a6b3ff;
    --theme-color: #d694ff;
    --button-color: rgb(252, 157, 241);
}
