body {
    background-color: var(--background-color);
    counter-reset: title;
}

*, html {
    // FIXME: без ! не работает плавный скрол
    scroll-behavior: smooth !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}