@import "../../../scss/mixins.scss";
@import "../../../scss/_global_variables.scss";

.navigation {
    min-height: 60px;

    &__wrapper {
        padding: 0 4rem;
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.3s ease-in-out;
        position: relative;
        top: 0;
    }
    &__brand {
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3rem;
            margin: 2rem 0;
            width: 3rem;
            fill: none;
            color: var(--theme-color);
            transition: 0.3s ease-in-out;
            outline: 2px dashed transparent;
            cursor: pointer;
            &:hover {
                fill: #64dad91a;
            }
            &:focus {
                outline-color: var(--theme-color);
                fill: #64dad91a;
            }
        }

        &_close {
            opacity: 1;
        }
    }
    &__menu {
        display: flex;
        gap: 3rem;
        color: var(--lightest-slate);
        font-size: var(--tsm1);
        counter-reset: nav-list;
        font-family: var(--fira-code);
    }
    &__list {
        display: flex;
        gap: 3rem;
        list-style-type: none;
    }
    &__item {
        a {
            outline: 2px dashed transparent;
            transition: 0.3s ease-in-out;
            color: inherit;
            text-decoration: none;
            padding: 10px;
            &::before {
                counter-increment: nav-list;
                content: "0" counter(nav-list) ". ";
                color: var(--theme-color);
            }
            &:focus {
                outline-color: var(--theme-color);
            }
            &:hover {
                color: var(--theme-color);
            }
        }
    }

    &__afterScroll {
        height: 80px;
        left: 0;
        position: fixed;
        top: 0;
        transition: all 0.3s ease-in-out;
        z-index: 20;
        background-color: rgba(10, 25, 47, 0.6);
        box-shadow: 0 10px 30px -10px var(--navy-shadow);
        backdrop-filter: blur(10px);
    }

    &__button {
        display: block;
    }
}

@include medium {
    .navigation {
        &__menu {
            display: none;
        }
        &__button {
            display: none;
        }

        &__afterScroll {
            height: 112px;
        }
    }
}

@include mobile {
    .navigation {
        &__wrapper {
            z-index: 100;
        }
        &__menu {
            display: grid;
            z-index: 300;
        }
        &__list {
            display: none;
            position: fixed;
            left: 93px;
            top: 28px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2,  40px);
            gap: 1px;
            z-index: 300;
        }
        &__list_open {
            display: grid;
            
            @include adaptiv-value("left", 90, 10, 1);
        }
        &__button {
            display: none;
        }

        &__afterScroll {
            height: 112px;

            .navigation__menu {
                display: none;
            }
        }
        &__brand {
            flex-direction: column;
            z-index: 1000;
            justify-content: flex-start;
        }
    }
}

@include fix-mobile {
    .navigation {
        &__wrapper {
            padding: 0 15px;
            z-index: 120;
        }
        &__brand {
            display: none;
        }
        &__menu {
            display: none;
        }
    }
}

@media (max-width: 450px) {
    .navigation {
        &__list {
            left: 64px;
        }
        &__brand {
            display: none;
        }
    }
}